name: Build Installer

on:
  workflow_call:
     inputs:
      jar-key:
        required: true
        type: string
      release_tag:
        required: true
        type: string
      app_name:
        required: true
        type: string
      app_version:
        required: true
        type: string
      jar_name:
        required: true
        type: string
      output_name:
        required: true
        type: string




jobs:
  build-installer:
    
    runs-on: windows-latest
    env:
      APP_NAME: ${{ inputs.app_name }}
      APP_VERSION: ${{ inputs.app_version }}
      JAR_NAME: ${{ inputs.jar_name }}
      OUTPUT_NAME: ${{ inputs.output_name }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.release_tag }}


      - name: Restore cached JAR
        uses: actions/cache/restore@v3
        with:
          path: build/libs/*.jar
          key: ${{ inputs.jar-cache-key }}

      - name: Check JAR presence
        run: |
          if (!(Test-Path "build\libs\*.jar")) {
            Write-Error "JAR file not found after cache restore."
            exit 1
          }

      - name: Rename JAR to App.jar
        run: |
          $jar = Get-ChildItem build\libs\*.jar | Select-Object -First 1
          if ($jar.Name -ne "App.jar") {
            Rename-Item $jar.FullName -NewName "App.jar"
          }

      - name: Install Inno Setup
        run: choco install innosetup --no-progress -y

      - name: Validate Inno Setup install
        run: |
            if (!(Test-Path "C:\Program Files (x86)\Inno Setup 6\ISCC.exe")) {
              Write-Error "Inno Setup not installed correctly."
              exit 1
            }

      - name: Set environment variables
        run: |
          echo "APP_NAME=${{ inputs.app-name }}" >> $env:GITHUB_ENV
          echo "APP_VERSION=${{ inputs.app-version }}" >> $env:GITHUB_ENV
          echo "JAR_NAME=${{ inputs.jar-name }}" >> $env:GITHUB_ENV
          echo "OUTPUT_NAME=${{ inputs.output-name }}" >> $env:GITHUB_ENV

      - name: Build setup.exe with logging
        run: |
          & "C:\Program Files (x86)\Inno Setup 6\ISCC.exe" setup-script.iss | Tee-Object -FilePath build-log.txt
      

      - name: Validate setup.exe output
        run: |
          if (!(Test-Path "output\OneProjectWed-Setup.exe")) {
            Write-Error "Installer not found in output folder."
            exit 1
          }

      - name: Upload setup.exe as artifact
        uses: actions/upload-artifact@v4
        with:
          name: setup-installer
          path: output/OneProjectWed-Setup.exe


      - name: Installer Build Complete
        run: echo "Installer successfully built and uploaded."
