name: Update Workflow Docs

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/*.yml"
      - ".github/workflows/*.yaml"
  workflow_dispatch:

jobs:
  generate-and-pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Option A: Use composite action
      - name: Generate docs
        uses: m-nikolovska-mak-system/reusable-actions-library/.github/workflows/generate-workflow-doc.yml@main
        with:
          workflow_dir: ".github/workflows"
          output_dir: "docs/workflows"
