name: Test Deployment

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Create fake deployment
        uses: peter-evans/create-deployment@v3
        with:
          environment: test
          description: "This is a fake deployment for testing"
          transient_environment: true
          auto_merge: false
