
name: Test Create Jira Issue

on:
  workflow_dispatch:
    inputs:
      project_key:
        description: "Jira project key (e.g., DEMO)"
        required: true
        type: string
      issuetype:
        description: "Issue type (e.g., Task, Bug)"
        required: true
        type: string
      summary:
        description: "Summary for the Jira issue"
        required: true
        type: string
      description:
        description: "Description for the Jira issue"
        required: false
        type: string
      assignee:
        description: "Email of assignee (optional)"
        required: false
        type: string

jobs:
  create_issue:
    uses: m-nikolovska-mak-system/reusable-actions-library/.github/workflows/create-jira-issue.yml@main
    with:
      project_key: ${{ inputs.project_key }}
      issuetype: ${{ inputs.issuetype }}
      summary: ${{ inputs.summary }}
      description: ${{ inputs.description }}
      assignee: ${{ inputs.assignee }}
    secrets:
      JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
      JIRA_USER_EMAIL: ${{ secrets.JIRA_USER }}
      JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}
